.btn {
    
  
    margin: $m-1 $m-2;
    width: 220px;
    height: 46px;
    left: 50%;
    right: 50%;
  
    text-decoration: none;
    line-height: 45px;
    border-radius: 45px;
    text-align: center;
    letter-spacing: 1px;
  
    font-size: $font-16;
    font-weight: $font-w-700;
    
    color: $color-black;
    background: $color-lightgray;

    position: absolute;
    left: 625px;
}






