.swiper {
  display: flex;
  justify-content: center;
  
    width: 100%;
    height: auto;
  
    &-scrollbar {
      bottom: 0;
  
      &-drag {
        background-color: $color-white;
      }
    }
  }