*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: black;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  padding: 2rem;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5rem;
  color: white;
  cursor: pointer;
}
.title-section {
  padding: 2rem;
  font-size: 28px;
  font-weight: 700;
}
.title-description {
  padding: 0 0.5rem;
  color: rgb(156, 156, 156);
  font-size: 12px;
  text-align: center;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

.image {
  width: 100%;
}

.pt-2 {
  padding-top: 2rem;
}

.list {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: all 0.5s;
  text-align: center;
}

.btn {
  margin: 1rem 2rem;
  width: 220px;
  height: 46px;
  left: 50%;
  right: 50%;
  text-decoration: none;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background: rgb(239, 239, 239);
  position: absolute;
  left: 625px;
}

.swiper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.swiper-scrollbar {
  bottom: 0;
}
.swiper-scrollbar-drag {
  background-color: white;
}

.card {
  position: relative;
  width: 352px;
  height: 280px;
  padding: 2rem;
  margin: 2rem;
  background: rgb(239, 239, 239);
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}
.card__image {
  width: auto;
  height: 160px;
}
.card__description {
  text-align: left;
  color: black;
  font-size: 14px;
}
.card__price {
  text-align: right;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.card__ellipse {
  position: absolute;
  bottom: 10%;
  left: 60%;
}
.card__ellipse_discont {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: white;
  font-size: 18px;
}
.card__ellipse-red {
  position: absolute;
  bottom: 10%;
  left: 60%;
}
.card__ellipse-red_discont {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: black;
  font-size: 18px;
}

.card1 {
  width: 200px;
  height: 256px;
  padding: 2rem;
  margin: 2rem;
  border: 2px solid black;
}
.card1__image {
  width: 100%;
  padding: 2rem;
}
.card1__price {
  text-align: left;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.card1__price_discont {
  color: rgb(156, 156, 156);
  font-size: 14px;
  text-decoration: line-through;
}
.card1__description {
  text-align: left;
  color: rgb(156, 156, 156);
  font-size: 14px;
}

.reviews {
  width: 33.3333333333%;
  padding: 1rem;
}
.reviews__image {
  width: 100%;
}
.reviews__description {
  padding: 0 2rem;
  font-size: 18px;
  text-align: center;
}

.instagram {
  color: white;
  position: relative;
  text-align: center;
  background: black;
}
.instagram__image {
  background-color: rgb(239, 239, 239);
  opacity: 0.6;
}
.instagram__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}
.product__image {
  width: 1280px;
  border-radius: 10px;
  cursor: pointer;
}
.product__title {
  padding: 1rem;
  font-size: 32px;
  font-weight: 500;
  color: white;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product__description {
  padding: 1rem;
  font-size: 16px;
  color: rgb(156, 156, 156);
  text-align: left;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.product__btn {
  display: inline-block;
  width: 220px;
  height: 46px;
  position: absolute;
  left: 280px;
  top: 200px;
  margin: 1rem 2rem;
  text-decoration: none;
  line-height: 45px;
  border-radius: 28px;
  border: 2px solid #FADE4B;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  color: yellow;
}
.product__vector-l {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 10px;
  top: 187px;
}
.product__vector-r {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 10px;
  top: 187px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 2rem;
  width: 100%;
  height: 20rem;
  color: white;
}
.header__title {
  padding: 2rem;
  font-size: 32px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.header__burger {
  padding: 2rem;
  font-size: 18px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  background-color: yellow;
  border-radius: 10px;
}

.input {
  width: 459px;
  height: 56px;
  border-radius: 60px;
  background-color: rgb(156, 156, 156);
  color: white;
}

.text {
  padding: 2rem;
  color: rgb(156, 156, 156);
  font-size: 14px;
  text-decoration: underline;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5rem;
}
.icon__description {
  font-size: 14px;
}

.section {
  padding: 4rem 0;
}
.section__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 2rem;
  width: 100%;
  height: auto;
}
.footer__navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__navbar_column {
  display: inline-block;
  padding: 0 5rem;
  width: 250px;
  height: 400px;
}
.footer__column {
  display: inline-block;
  padding: 5rem;
  width: 400px;
  height: 400px;
}
.footer__icons {
  display: inline-flex;
}/*# sourceMappingURL=main.css.map */